<footer class="wrapp-footer">
    <div class="footer-box-01">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="./" class="footer-logo">
                        <img src="img/logo_white.png" alt="">
                    </a>
                    <ul class="widget-contact">
                        <li>
                            <h4 class="widget-contact__title">Location:</h4>
                            <p class="widget-contact__text">47 Destiny Common, South Jolieview</p>
                        </li>
                        <li>
                            <h4 class="widget-contact__title">Office Hours:</h4>
                            <p class="widget-contact__text">8:00am - 5:00pm</p>
                        </li>
                        <li>
                            <h4 class="widget-contact__title">Telephone:</h4>
                            <p class="widget-contact__text">826-696-8370</p>
                        </li>
                        <li>
                            <h4 class="widget-contact__title">Email:</h4>
                            <p class="widget-contact__text">
                                <a class="widget-contact__text-email" href="mailto:thesmartedu@edu.com">thesmartedu@edu.com</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="widget-link">
                        <h3 class="widget-title">Explore</h3>
                        <ul class="widget-list">
                            <li>
                                <a href="#">History &amp; Mission</a>
                            </li>
                            <li>
                                <a href="#">Administration</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Around the World</a>
                            </li>
                            <li>
                                <a href="#">News Network</a>
                            </li>
                            <li>
                                <a href="#">Visitor Information</a>
                            </li>
                            <li>
                                <a href="#">Social Media</a>
                            </li>
                            <li>
                                <a href="#">Our Campuses</a>
                            </li>
                            <li>
                                <a href="#">Campus Directories</a>
                            </li>
                            <li>
                                <a href="#">Employment</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="widget-link">
                        <h3 class="widget-title">Admissions</h3>
                        <ul class="widget-list">
                            <li>
                                <a href="#">Undergraduate</a>
                            </li>
                            <li>
                                <a href="#">By School</a>
                            </li>
                            <li>
                                <a href="#">Process</a>
                            </li>
                            <li>
                                <a href="#">Visitor Information</a>
                            </li>
                            <li>
                                <a href="#">For Prospective Parents</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="widget-link">
                        <h3 class="widget-title">Research</h3>
                        <ul class="widget-list">
                            <li>
                                <a href="#">Applied Physics Laboratory</a>
                            </li>
                            <li>
                                <a href="#">Research Projects Administration</a>
                            </li>
                            <li>
                                <a href="#">Funding Opportunities</a>
                            </li>
                            <li>
                                <a href="#">Undergraduate Research</a>
                            </li>
                            <li>
                                <a href="#">Resources</a>
                            </li>
                            <li>
                                <a href="#">Health &amp; Medicine</a>
                            </li>
                            <li>
                                <a href="#">Social Sciences, Humanities &amp; Arts</a>
                            </li>
                            <li>
                                <a href="#">Natural Sciences, Engineering &amp; Tech</a>
                            </li>
                            <li>
                                <a href="#">Global Research</a>
                            </li>
                            <li>
                                <a href="#">Technology Transfer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-box-02">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <p class="copy-info">&copy; 2017 Smart Education. All Rights Reserved</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <ul class="social-list-01">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="footer-info">
                        <a class="footer-info__01" href="#">Privacy Policy</a>
                        <a class="footer-info__02" href="#">Terms Of use</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back2top" title="Back to Top">Back to Top</a>
</footer>