


<section id="services" class="bg-one section">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="title text-center wow fadeIn" data-wow-duration="bbbb">
        <h2>Flash <span class="color">Cards</span></h2>
        <div class="border"></div>
      </div>
      <!-- /section title -->

      <!-- Single Service Item -->
      <br>
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="hhhhh">
        <div class="service-block text-center">
          <div class="tf-ion-laptop text-center">
            <i class="tf-globe"></i>
          </div>
          <h3>English</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </article>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-laptop"></i>
          </div>
          <h3>Math</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </article>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="tf-genius"></i>
          </div>
          <h3>Data Base</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </article>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="tf-dial"></i>
          </div>
          <h3>Programming</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </article>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="service-block text-center">
          <div class="service-icon text-center">
            <i class="tf-target3"></i>
          </div>
          <h3>Computer</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </article>
      <!-- End Single Service Item -->

      <!-- Single Service Item -->
      <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="html" data-wow-delay="600ms">
        <div class="service-block text-center kill-margin-bottom">
          <div class="service-icon text-center">
            <i class="tf-lifesaver"></i>
          </div>
          <h3>Networking</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </article>
      <!-- End Single Service Item -->

    </div>    <!-- End row -->
  </div>    <!-- End container -->
</section>   <!-- End section -->



<div class="container" id="tourpackages-carousel">

  <div class="row">

    <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
      <div class="thumbnail">
        <img src="../assets/images/courses/course_01.jpg" alt="">
        <div class="caption">
          <h4>Physics</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus
            amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs"
                                                                                 role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/images/courses/course_02.jpg" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus
            amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs"
                                                                                 role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/images/courses/course_03.jpg" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus
            amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs"
                                                                                 role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/images/courses/course_05.jpg" alt="">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus
            amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs"
                                                                                 role="button">Button</a></p>
        </div>
      </div>
    </div>


    <div class="container" id="tourpackages-carousel">

      <div class="row">

        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: blue;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>ARTS</h4>

              <div class="home1">
                <li><a href="/subject/art" title="art flashcards">art flashcards</a></li>
                <li><a href="/subject/art-history" title="art history flashcards">art history flashcards</a></li>
                <li><a href="/subject/fine-art" title="fine art flashcards">fine art flashcards</a></li>
                <li><a href="/subject/literature" title="literature flashcards">literature flashcards</a></li>
                <li><a href="/subject/music" title="music flashcards">music flashcards</a></li>
                <br>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: purple;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>GENERAL</h4>

              <div class="home2">
                <li><a href="/subject/capitals" title="capitals flashcards">capitals flashcards</a></li>
                <li><a href="/subject/dance" title="dance flashcards">dance flashcards</a></li>
                <li><a href="/subject/education" title="education flashcards">education flashcards</a></li>
                <li><a href="/subject/sports" title="sports flashcards">sports flashcards</a></li>
                <li><a href="/subject/travel" title="travel flashcards">travel flashcards</a></li>
                <br>

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: orangered;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>BUSINESS</h4>

              <div class="home1">
                <li><a href="/subject/accounting" title="accounting flashcards">accounting flashcards</a></li>
                <li><a href="/subject/communication" title="communication flashcards">communication flashcards</a></li>
                <li><a href="/subject/economics" title="economics flashcards">economics flashcards</a></li>
                <li><a href="/subject/business" title="business flashcards">business flashcards</a></li>
                <li><a href="/subject/finance" title="finance flashcards">finance flashcards</a></li>
                <li><a href="/subject/marketing" title="marketing flashcards">marketing flashcards</a></li>

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: black;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>LITERATURE</h4>

              <div class="home2">
                <li><a href="/subject/art" title="art flashcards">art flashcards</a></li>
                <li><a href="/subject/art-history" title="art history flashcards">art history flashcards</a></li>
                <li><a href="/subject/fine-art" title="fine art flashcards">fine art flashcards</a></li>
                <li><a href="/subject/literature" title="literature flashcards">literature flashcards</a></li>
                <li><a href="/subject/music" title="music flashcards">music flashcards</a></li>
                <br>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: yellow;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>SOCIAL </h4>

              <div class="home1">
                <li><a href="/subject/government" title="government flashcards">government flashcards</a></li>
                <li><a href="/subject/histology" title="histology flashcards">histology flashcards</a></li>
                <li><a href="/subject/history" title="history flashcards">history flashcards</a></li>
                <li><a href="/subject/religion" title="religion flashcards">religion flashcards</a></li>
                <li><a href="/subject/philosophy" title="philosophy flashcards">philosophy flashcards</a></li><br>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: gray;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>PROFESSIONAL</h4>

              <div class="home2">
                <li><a href="/subject/bartending" title="bartending flashcards">bartending flashcards</a></li>
                <li><a href="/subject/cosmetology" title="cosmetology flashcards">cosmetology flashcards</a></li>
                <li><a href="/subject/criminal-justice" title="criminal justice flashcards">criminal justice
                  flashcards</a></li>
                <li><a href="/subject/software" title="software flashcards">software flashcards</a></li>
                <li><a href="/subject/law" title="law flashcards">law flashcards</a></li><br>
              </div>

            </div>
          </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color:deeppink;">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>LITERATURE</h4>

              <div class="home1">
                <li><a href="/subject/art" title="art flashcards">art flashcards</a></li>
                <li><a href="/subject/art-history" title="art history flashcards">art history flashcards</a></li>
                <li><a href="/subject/fine-art" title="fine art flashcards">fine art flashcards</a></li>
                <li><a href="/subject/literature" title="literature flashcards">literature flashcards</a></li>
                <li><a href="/subject/music" title="music flashcards">music flashcards</a></li><br>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="border-top-color: #1b984c; ">
            <!--<img src="../assets/images/courses/course_01.jpg"  alt="">-->
            <div class="caption">
              <h4>LITERATURE</h4>

              <div class="home2" >
                <li ><a href="/subject/art" title="art flashcards">art flashcards</a></li>
                <li><a href="/subject/art-history" title="art history flashcards">art history flashcards</a></li>
                <li><a href="/subject/fine-art" title="fine art flashcards">fine art flashcards</a></li>
                <li><a href="/subject/literature" title="literature flashcards">literature flashcards</a></li>
                <li><a href="/subject/music" title="music flashcards">music flashcards</a></li><br>
              </div>


            </div>
          </div>
        </div>


      </div><!-- End row -->

    </div><!-- End container -->







































