<div class="content-box-02 padding-top-75 padding-bottom-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="title-02">High-quality Courses
            <span>for Students</span>
          </h3>
          <p class="subtitle-01">Suspendisse sodales arcu velit, non pretium massa accumsan non. Proin accumsan placerat mauris
            <br>ssit amet condimentum. Morbi luctus risus tincidunt urna hendrerit mollis.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-option-04">
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Economy</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">Macroeconomy</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 150</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">14 Lessons</p>
                  <p class="item-info__text-02">25 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Technology</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">Word Press</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 180</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">21 Lessons</p>
                  <p class="item-info__text-02">56 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Languages</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">English Basic</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 115</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">35 Lessons</p>
                  <p class="item-info__text-02">47 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Design</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">Interior Design</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 210</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">17 Lessons</p>
                  <p class="item-info__text-02">15 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Biology</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">Anatomy Course</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 90</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">10 Lessons</p>
                  <p class="item-info__text-02">14 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Mathematics</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">Geometry Course</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 180</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">21 Lessons</p>
                  <p class="item-info__text-02">56 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">History</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">World History</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 70</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">23 Lessons</p>
                  <p class="item-info__text-02">36 Seats</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product-list__item">
                <figure class="product-list__img">
                  <a href="single_course.html">
                    <img src="/assets/img/product_list/product_img-01.jpg" alt="">
                  </a>
                </figure>
                <div class="product-list__content">
                  <a class="product-list__category" href="#">Design</a>
                  <h3 class="product-list__title">
                    <a href="single_course.html">Graphic Design</a>
                  </h3>
                  <ul class="product-list__star-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="product-list__price">$ 250</p>
                </div>
                <div class="product-list__item-info">
                  <p class="item-info__text-01">50 Lessons</p>
                  <p class="item-info__text-02">25 Seats</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-box-03 parallax parallax_05" data-type="background" data-speed="10">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 col-lg-7">
            <h3 class="process-banner-title">Take Books & Notes for Study
              <span>Right Now</span>
            </h3>
            <p class="process-banner-text">Choose a suitable Book for yourself and study when you are comfortable</p>
          </div>
          <div class="col-sm-4 col-md-5 col-lg-5">
            <a class="process-banner-btn" href="#">get in touch</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-01 padding-top-96 padding-bottom-25">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="title-02">Why People
              <span>Trust Us</span>
            </h3>
            <p class="subtitle-01">Suspendisse sodales arcu velit, non pretium massa accumsan non. Proin accumsan placerat mauris
              <br>ssit amet condimentum. Morbi luctus risus tincidunt urna hendrerit mollis.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="our-mission-box">
              <figure class="our-mission-icon">
                <img src="/assets/img/product_list/product_img-01.jpg" alt="">
              </figure>
              <h3 class="our-mission-title">Learning Engagement</h3>
              <p class="our-mission-title-text">Get valuable insights to user behavior and learning patterns. Create custom courses for empoyees.</p>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="our-mission-box">
              <figure class="our-mission-icon">
                <img src="/assets/img/product_list/product_img-01.jpg" alt="">
              </figure>
              <h3 class="our-mission-title">Profesinal Courses</h3>
              <p class="our-mission-title-text">Give your organization access to 2,000+ courses. Accurately monitor and track your organization's training.</p>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="our-mission-box">
              <figure class="our-mission-icon">
                <img src="/assets/img/product_list/product_img-01.jpg" alt="">
              </figure>
              <h3 class="our-mission-title">Access to Content</h3>
              <p class="our-mission-title-text">Learn on any device anywhere. Access to content anytime, anywhere. View a summary of user activity.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax parallax_05" data-type="background" data-speed="10">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3 text-center">
            <div class="progress-circle-item">
              <div data-value="0.75" class="progress-circle">
                <div class="progress-circle__value"></div>
              </div>
              <p class="employee">Satisfied Students</p>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 text-center">
            <div class="progress-circle-item">
              <div data-value="1" class="progress-circle">
                <div class="progress-circle__value"></div>
              </div>
              <p class="employee">Online Stydying</p>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 text-center">
            <div class="progress-circle-item">
              <div data-value="0.91" class="progress-circle">
                <div class="progress-circle__value"></div>
              </div>
              <p class="employee">Success in Learning</p>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 text-center">
            <div class="progress-circle-item">
              <div data-value="0.8" class="progress-circle">
                <div class="progress-circle__value"></div>
              </div>
              <p class="employee">Complited Courses</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-01 padding-top-96 padding-bottom-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="title-02">Choose
              <span>Your Plan</span>
            </h3>
            <p class="subtitle-01">Set a plan, start learning and unlock your potencial. Proin accumsan placerat mauris
              <br>sit amet condimentum. Morbi luctus risus tincidunt urna hendrerit mollis.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="price-box-01">
              <div class="price-box-01__header">
                <h3 class="price-box-01__header-title">Begginer Package</h3>
                <p class="price-box-01__header-price">
                  <span class="price-box-01__in">$</span>129.90
                  <span class="price-box-01__date">/ mounth</span>
                </p>
              </div>
              <ul class="price-list">
                <li>
                  <span>SEO Strategy Course</span>
                </li>
                <li>
                  <span>HTML5 &amp; CSS Video Course</span>
                </li>
                <li>
                  <span>English Learning Course</span>
                </li>
                <li>
                  <span>Business &amp; Internal Course</span>
                </li>
                <li class="diactive">
                  <span>Interior Design</span>
                </li>
                <li class="diactive">
                  <span>Geometry Course</span>
                </li>
              </ul>
              <a routerLink="/booksdetails">
                <button class="price-btn" type="button">Select plan for Rent </button></a>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="price-box-02">
              <div class="price-box-02__header">
                <h3 class="price-box-02__header-title">Business Package</h3>
                <p class="price-box-02__header-price">
                  <span class="price-box-01__in">$</span>229.90
                  <span class="price-box-01__date">/ mounth</span>
                </p>
              </div>
              <ul class="price-list">
                <li>
                  <span>SEO Strategy Course</span>
                </li>
                <li>
                  <span>HTML5 &amp; CSS Video Course</span>
                </li>
                <li>
                  <span>English Learning Course</span>
                </li>
                <li>
                  <span>Business &amp; Internal Course</span>
                </li>
                <li>
                  <span>Interior Design</span>
                </li>
                <li class="diactive">
                  <span>Geometry Course</span>
                </li>
              </ul>
              <a routerLink="/booksdetails">
              <button class="price-btn" type="button">Select plan for Buy</button></a>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="price-box-01">
              <div class="price-box-01__header">
                <h3 class="price-box-01__header-title">Ultimate Package</h3>
                <p class="price-box-01__header-price">
                  <span class="price-box-01__in">$</span>329.90
                  <span class="price-box-01__date">/ mounth</span>
                </p>
              </div>
              <ul class="price-list">
                <li>
                  <span>SEO Strategy Course</span>
                </li>
                <li>
                  <span>HTML5 &amp; CSS Video Course</span>
                </li>
                <li>
                  <span>English Learning Course</span>
                </li>
                <li>
                  <span>Business &amp; Internal Course</span>
                </li>
                <li>
                  <span>Interior Design</span>
                </li>
                <li>
                  <span>Geometry Course</span>
                </li>
              </ul>
              <button class="price-btn" type="button">Select plan for Sale</button>
            </div>
          </div>
        </div>
      </div>
    </div>
