<div class="container">
  <div class="fc-slider owl-option-04">
    <div class="item">
      <div class="product-list__item">
        <figure class="product-list__img">
          <a href="single_course.html">
            <img src="assets/img/flowers.jpg" alt="">
          </a>
        </figure>
        <div class="product-list__content">
          <a class="product-list__category" href="#">English</a>
          <h3 class="product-list__title">
            <a href="single_course.html">English</a>
          </h3>
          <ul class="product-list__star-list">
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <p class="product-list__price">$ 150</p>
        </div>
        <div class="product-list__item-info">
          <p class="item-info__text-01">14 Lessons</p>
          <p class="item-info__text-02">25 Seats</p>
        </div>
      </div>
    </div>
    <div class="item">
        <figure class="product-list__img">
          <a href="single_course.html">
            <img src="assets/img/booknew2.jpg" alt="">
          </a>
        </figure>
      <div class="product-list__content">
        <a class="product-list__category" href="#">Math</a>
        <h3 class="product-list__title">
          <a href="single_course.html">Math</a>
        </h3>
        <ul class="product-list__star-list">
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <p class="product-list__price">$ 150</p>
      </div>
      <div class="product-list__item-info">
        <p class="item-info__text-01">14 Lessons</p>
        <p class="item-info__text-02">25 Seats</p>
      </div>

    </div>
    <div class="item">
      <figure class="product-list__img">
        <a href="single_course.html">
          <img src="assets/img/books.jpg" alt="">
        </a>
      </figure>
      <div class="product-list__content">
        <a class="product-list__category" href="#">Chemistry</a>
        <h3 class="product-list__title">
          <a href="single_course.html">Chemistry</a>
        </h3>
        <ul class="product-list__star-list">
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <p class="product-list__price">$ 150</p>
      </div>
      <div class="product-list__item-info">
        <p class="item-info__text-01">14 Lessons</p>
        <p class="item-info__text-02">25 Seats</p>
      </div>

    </div>


    <div class="item">
      <figure class="product-list__img">
        <a href="single_course.html">
          <img src="assets/img/bookcup.jpg" alt="">
        </a>
      </figure>
      <div class="product-list__content">
        <a class="product-list__category" href="#">Physics</a>
        <h3 class="product-list__title">
          <a href="single_course.html">Physics</a>
        </h3>
        <ul class="product-list__star-list">
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <p class="product-list__price">$ 150</p>
      </div>
      <div class="product-list__item-info">
        <p class="item-info__text-01">14 Lessons</p>
        <p class="item-info__text-02">25 Seats</p>
      </div>


    </div>


  </div>
</div>


<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Terms</th>
      <th>Definitions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>English</td>
      <td>English is an international language </td>
    </tr>
    <tr>
      <td>Math</td>
      <td>a group of related sciences, including algebra, geometry, and calculus, concerned with the study of number, quantity, shape, and space and their interrelationships by using a specialized notation</td>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td>the branch of science concerned with the substances of which matter is composed, the investigation of their properties and reactions, and the use of such reactions to form new substances.</td>
    </tr>
    <tr>
      <td>Physics</td>
      <td>the branch of science concerned with the nature and properties of matter and energy. The subject matter of physics includes mechanics, heat, light and other radiation, sound, electricity, magnetism, and the structure of atoms.</td>
    </tr>
    </tbody>
  </table>
</div>
