<main class="content-row">
  <div class="page-title-wrapp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-title-01">ScholarShips</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="breadcrumbs">
            <li class="active">
              <a href="index.html"></a>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-box-01 events">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form action="./" class="events-form">
            <input class="events-form__text-01" type="text" name="text-01" placeholder="Date of Event">
            <input class="events-form__text-02" type="text" name="text-02" placeholder="Keyworld">
            <button class="btn-01" type="submit">search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="events-list">
            <figure class="events-list__img">
              <a href="single_event.html">
                <img src="/assets/img/event/event_img_01.jpg" alt="">
              </a>
            </figure>
            <div class="events-list__info">
              <p class="events-list__info-date">12</p>
              <p class="events-list__info-month">September, 2017</p>
              <p class="events-list__info-time">9.00 AM - 6.00 PM</p>
              <p class="events-list__info-location">410 Park Avenue</p>
            </div>
            <div class="events-list__content">
              <h4 class="events-list__content-title">
                <a href="single_event.html">Cientific Results Conference</a>
              </h4>
              <p class="events-list__status">Free</p>
              <div class="events-list__content-text">
                <p>Before cats conquered the internet, they conquered the world—with a little help from their human serfs. Domesticated cats live pretty much everywhere except Antarctica, and a new study in Nature Ecology and Evolution helps to uncover how they...</p>
              </div>
              <a class="events-list__btn" href="single_event.html">View Event</a>
            </div>
          </div>
          <div class="events-list">
            <figure class="events-list__img">
              <a href="single_event.html">
                <img src="/assets/img/event/event_img_02.jpg" alt="">
              </a>
            </figure>
            <div class="events-list__info">
              <p class="events-list__info-date">15</p>
              <p class="events-list__info-month">September, 2017</p>
              <p class="events-list__info-time">9.00 AM - 4.00 PM</p>
              <p class="events-list__info-location">15 Eastern Road</p>
            </div>
            <div class="events-list__content">
              <h4 class="events-list__content-title">
                <a href="single_event.html">Boost Your Teamworking Skills</a>
              </h4>
              <p class="events-list__status">$ 5</p>
              <div class="events-list__content-text">
                <p>Around 1.2 million wildebeest travel through East Africa each year during their migration. The move—the largest overland migration on the planet—is necessary for their survival, helping them keep up with moving rainfall and find plentiful...</p>
              </div>
              <a class="events-list__btn" href="single_event.html">View Event</a>
            </div>
          </div>
          <div class="events-list">
            <figure class="events-list__img">
              <a href="single_event.html">
                <img src="/assets/img/event/event_img_03.jpg" alt="">
              </a>
            </figure>
            <div class="events-list__info">
              <p class="events-list__info-date">19</p>
              <p class="events-list__info-month">September, 2017</p>
              <p class="events-list__info-time">9.00 AM - 9.00 PM</p>
              <p class="events-list__info-location">15 Hilton Street</p>
            </div>
            <div class="events-list__content">
              <h4 class="events-list__content-title">
                <a href="single_event.html">Campus Tour 2017</a>
              </h4>
              <p class="events-list__status">Free</p>
              <div class="events-list__content-text">
                <p>There are coffee shops, sports, restaurants and a multitude of great study spots. Whether you are a prospective student or already taking classes, feel free to explore and see what makes "the campus on the hill" so special...</p>
              </div>
              <a class="events-list__btn" href="single_event.html">View Event</a>
            </div>
          </div>
          <div class="events-list">
            <figure class="events-list__img">
              <a href="single_event.html">
                <img src="/assets/img/event/event_img_04.jpg" alt="">
              </a>
            </figure>
            <div class="events-list__info">
              <p class="events-list__info-date">22</p>
              <p class="events-list__info-month">October, 2017</p>
              <p class="events-list__info-time">10.00 AM - 2.00 PM</p>
              <p class="events-list__info-location">15 Hilton Street</p>
            </div>
            <div class="events-list__content">
              <h4 class="events-list__content-title">
                <a href="single_event.html">The Geographies of a Care-based Economy</a>
              </h4>
              <p class="events-list__status">Free</p>
              <div class="events-list__content-text">
                <p>Our sun might have been born with a non-identical twin. Dubbed Nemesis, it would have orbited the same point as our own star before wandering off into the galaxy. Nemesis has never been found, but a new analysis...</p>
              </div>
              <a class="events-list__btn" href="single_event.html">View Event</a>
            </div>
          </div>
          <div class="events-list">
            <figure class="events-list__img">
              <a href="single_event.html">
                <img src="/assets/img/event/event_img_05.jpg" alt="">
              </a>
            </figure>
            <div class="events-list__info">
              <p class="events-list__info-date">7</p>
              <p class="events-list__info-month">November, 2017</p>
              <p class="events-list__info-time">10.00 AM - 2.00 PM</p>
              <p class="events-list__info-location">1361 River Street</p>
            </div>
            <div class="events-list__content">
              <h4 class="events-list__content-title">
                <a href="single_event.html">Build Education Website Using WordPress</a>
              </h4>
              <p class="events-list__status">$ 15</p>
              <div class="events-list__content-text">
                <p>Most people think that climate change is real and is already impacting the world. But not many people think that climate change is affecting them. And that’s understandable when you’re focusing on impacts...</p>
              </div>
              <a class="events-list__btn" href="single_event.html">View Event</a>
            </div>
          </div>
          <div class="events-list">
            <figure class="events-list__img">
              <a href="single_event.html">
                <img src="/assets/img/event/event_img_06.jpg" alt="">
              </a>
            </figure>
            <div class="events-list__info">
              <p class="events-list__info-date">10</p>
              <p class="events-list__info-month">December, 2017</p>
              <p class="events-list__info-time"> 9.00 AM - 3.00 PM</p>
              <p class="events-list__info-location">4261 Bridge Avenue</p>
            </div>
            <div class="events-list__content">
              <h4 class="events-list__content-title">
                <a href="single_event.html">Winter Traditional Festival 2017</a>
              </h4>
              <p class="events-list__status">$ 10</p>
              <div class="events-list__content-text">
                <p>Most people think that climate change is real and is already impacting the world. But not many people think that climate change is affecting them. And that’s understandable when you’re focusing on impacts...</p>
              </div>
              <a class="events-list__btn" href="single_event.html">View Event</a>
            </div>
          </div>
        </div>
      </div>